html{
    overscroll-behavior: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory
}
body{
    width: 100vw;
    margin: 0;
}
.full_vh{
    height: 100vh;
}
.scroll_section{
    scroll-snap-align: start;
}
#one{
    background-image: url('/assets/poster.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #B07957;
}
#two{
    background-color: #DDDDFF;
}
#three{
    background-color: #DDFFDD;
}