html{
    overscroll-behavior: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory
}
body{
    width: 100vw;
    margin: 0;
}
.navbar_container{
    justify-content: center;
}
.full_vh{
    height: 100vh;
}
.scroll_section{
    scroll-snap-align: start;
}
#one{
    background-color: #FFDDDD;
}
#two{
    background-color: #DDDDFF;
}